<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
          <img src="https://i.pinimg.com/originals/17/9c/b7/179cb7a5bf2c6b4d819ec7a163f02b37.jpg" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle ">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nycolas</p>
        </li>

        <li class="nav-item pl-3">
            <a href=""><p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p></a>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item pl-3">
              <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>