<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome" >
                    </div>

                    <div class="form-group">
                        <label for="usuário">Usuário</label>
                        <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuário" id="usuário" placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da Foto</label>
                        <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="Senha" id="Senha" placeholder="Sua Senha">
                    </div>

                    <div class="form-group">
                        <label for="ConfirmSenha">Confirmar Senha</label>
                        <input  [(ngModel)]='usuario.senha' class="form-control" type="password" name="ConfirmSenha" id="ConfirmSenha"
                            placeholder=" Confirme sua Senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de Usuário</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>